.chat-box {
    background-color: #89898961;
    height: 80vh;
    width: 60vw;    
    margin: 2rem auto;
    display: flex;
    flex-direction: column;

    @media (max-width: 992px) {
        width: 90vw;
    }

    .messages {
        padding: 1rem;
        flex: 1;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        
        .message-box {
            background-color: #00000030;
            max-width: fit-content;
            padding: 0 1rem;
            border-radius: 1rem;

            .top {
                display: flex;
                align-items: center;
                margin-top: .5rem;

                img {
                    width: 3rem;
                    height: 3rem;
                    border-radius: 50%;
                    margin-right: .5rem;
                    object-fit: cover;
                }

                .username {
                    font-weight: bold;
                    padding-right: 1rem;
                    font-family: 'Times New Roman', Times, serif;
                    font-size: 1.5rem;
                    color: #53fbc0;
    
                    @media (max-width: 480px) {
                        font-size: 1.6rem;
                    }
                }

                .functions {
                    margin-left: auto;

                    button {
                        color: #000000;
                    }
                }
            }

            .message {
                    margin: 1rem 0;
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 1.4rem;
                    line-height: 2rem;
            }
        }
    }

    .form-container {
        padding: 1rem 0;
        position: sticky;
        bottom: 0;
        left: 0;
        right: 0;
        border-top: 2px solid #ffffff;

        form {
            margin-top: auto;
            display: flex;
            justify-content: center;
    
            input {
                padding: .5rem 1rem;
                font-size: 1.7rem;
                background-color: #89898933;

                &::placeholder {
                    padding-left: 1rem;
                }

                &:focus {
                    outline: none;
                }

                @media (max-width: 480px) {
                    width: 70%;
                }
            }
    
            button {
                background-color: #000000de;
                padding: 1rem;
                font-size: 1.7rem;
                font-weight: bold;
                border: none;
                cursor: pointer;

                svg {
                    font-size: 2rem;
                    color: #ffffff;
                }
            }
        }
    }

    .not-logged {
        text-align: center;
        margin-top: auto;
        font-size: 1.8rem;
        font-weight: bold;
        color: #ae3333;
        border-top: 1px solid #ffffff;
        padding: 1rem 0;
    }
}

.user-message {
    margin-left: auto;
    width: 80%;
}