.chat-box {
    background-color: #89898961;
    height: 80vh;
    width: 60vw;    
    margin: 2rem auto;
    display: flex;
    flex-direction: column;

    @media (max-width: 992px) {
        width: 90vw;
    }

    .messages {
        padding: 1rem;
        flex: 1;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        
        .message-box {
            background-color: #00000030;
            max-width: fit-content;
            padding: 0 1rem;
            border-radius: 1rem;

            .top {
                display: flex;
                align-items: center;
                margin-top: .5rem;

                img {
                    border-radius: 50%;
                    margin-right: .5rem;
                }

                .username {
                    font-weight: bold;
                    padding-right: 1rem;
                    font-family: 'Times New Roman', Times, serif;
                    font-size: 1.5rem;
                    color: #53fbc0;
    
                    @media (max-width: 480px) {
                        font-size: 1.6rem;
                    }
                }

                .functions {
                    margin-left: auto;

                    button {
                        color: #000000;
                    }
                }
            }

            .message {
                    margin: 1rem 0;
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 1.4rem;
                    line-height: 2rem;
            }
        }
    }

    .form-container {
        padding: 1rem 0;
        position: sticky;
        bottom: 0;
        left: 0;
        right: 0;
        border-top: 2px solid #ffffff;

        form {
            margin-top: auto;
            display: flex;
            justify-content: center;
    
            input {
                padding: .5rem 1rem;
                font-size: 1.7rem;
                background-color: #89898933;

                &::placeholder {
                    padding-left: 1rem;
                }

                &:focus {
                    outline: none;
                }

                @media (max-width: 480px) {
                    width: 70%;
                }
            }
    
            button {
                background-color: #000000de;
                padding: 1rem;
                font-size: 1.7rem;
                font-weight: bold;
                border: none;
                cursor: pointer;

                svg {
                    font-size: 2rem;
                    color: #ffffff;
                }
            }
        }
    }

    .not-logged {
        text-align: center;
        margin-top: auto;
        font-size: 1.8rem;
        font-weight: bold;
        color: #ae3333;
        border-top: 1px solid #ffffff;
        padding: 1rem 0;
    }
}

.user-message {
    margin-left: auto;
    width: 80%;
}

/* Modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;

    .modal-content {
        width: 50%;
        background-color: #f4f4f4;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        max-height: 80%;
        overflow-y: auto;

        @media (max-width: 769px) {
            width: 90%;
        }

        .modal-header {
            background-color: #333;
            color: white;
            padding: 1rem;
            display: flex;
            justify-content: space-between;
            align-items: center;

            h3 {
                font-size: 2.5rem;
                font-weight: bold;
            }

            button {
                font-weight: bold;
                font-size: 2.5rem;
            }
        }

        .modal-body {
            background-color: #333;
            font-size: 1.4rem;
            padding: 2rem 10rem;

            @media (max-width: 480px) {
                padding: 2rem;
            }

            p {
                padding: 1rem;
                background-color: #f4f4f4;
                color: #000000;
            }
        }

        .modal-footer {
            background-color: #333;
            padding: 1rem;
            display: flex;
            align-items: center;

            input {
                width: 100%;
                height: auto;
                color: #000000;
                font-size: 1.4rem;
                padding: .5rem;

                &:focus {
                    outline: none;
                }
            }
              
            button {
                padding: .6rem 1rem;
                color: white;
                background-color: #000000;
                border: none;
                cursor: pointer;
                font-size: 2rem;

                svg {
                    color: #ffffff;
                }

                &:hover {
                    background-color: #53fbc099;
                }
            }
        }
    }
}