header {
    padding: 1rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 768px) {
        flex-direction: column;
        gap: 2rem;
        padding: 1rem;
    }
    
    h1 {
        font-size: 3rem;
        font-family: 'Times New Roman', Times, serif;
    }

    .buttons {
        @media (max-width: 768px) {
            display: flex;
            justify-content: center;
            gap: 2rem;
            align-items: center;
        }

        a {
            background-color: #89898961;
            font-size: 1.7rem;
            font-weight: bold;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            padding: .5rem 2rem;
            margin: 0 1rem;
            border-radius: 1rem;
            cursor: pointer;

            @media (max-width: 768px) {
                margin: 0;
            }
        }
    }

    .logged {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        p {
            font-size: 2rem;
            font-weight: bold;
            display: flex;
            align-items: center;
            gap: .8rem;

            svg {
                border: 1px solid #000000;
                border-radius: 50%;
                padding: .5rem;
                font-size: 3.5rem;
            }
        }

        button {
            background-color: #89898961;
            font-size: 1.7rem;
            font-weight: bold;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            padding: .5rem 2rem;
            margin: 0 1rem;
            border-radius: 1rem;
            cursor: pointer;
            border: none;
        }
    }

    .theme {
        font-size: 3.5rem;
        cursor: pointer;
        background-color: transparent;
        border: none;
        color: #ffffff;
        
        @media (max-width: 769px) {
            position: absolute;
            top: 1.5rem;
            right: 1rem;
        }
    }
}