* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 16px;
}
a {
  text-decoration: none;
}
.dark-mode {
  background-color: #000000de;
  color: #ffffff;
  min-height: 100vh;

  a {
    color: #ffffff;
  }

  button {
    color: #ffffff;
  }

  svg {
    color: #ffffff;
  }

  input {
    color: #ffffff;
    border: 1px solid #000000;

    &::placeholder {
      color: #ffffffa4;
    }
  }

}

.light-mode {
  background-color: #ffffff;
  color: #000000;
  min-height: 100vh;

  a {
    color: #000000;
  }

  button {
    color: #000000;
  }

  svg {
    color: #000000;
  }

  input {
    color: #000000;
    border: 1px solid #000000;

    &::placeholder {
      color: #000000b3;
    }
  }
}