.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;

    .modal-content {
        width: 50%;
        background-color: #f4f4f4;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        max-height: 80%;
        overflow-y: auto;

        @media (max-width: 769px) {
            width: 90%;
        }

        .modal-header {
            background-color: #333;
            color: white;
            padding: 1rem;
            display: flex;
            justify-content: space-between;
            align-items: center;

            h3 {
                font-size: 2.5rem;
                font-weight: bold;
            }

            button {
                font-weight: bold;
                font-size: 2.5rem;
            }
        }

        .modal-body {
            background-color: #333;
            font-size: 1.4rem;
            padding: 2rem 10rem;

            @media (max-width: 480px) {
                padding: 2rem;
            }

            p {
                padding: 1rem;
                background-color: #f4f4f4;
                color: #000000;
            }
        }

        .modal-footer {
            background-color: #333;
            padding: 1rem;
            display: flex;
            align-items: center;

            input {
                width: 100%;
                height: auto;
                color: #000000;
                font-size: 1.4rem;
                padding: .5rem;

                &:focus {
                    outline: none;
                }
            }
              
            button {
                padding: .6rem 1rem;
                color: white;
                background-color: #000000;
                border: none;
                cursor: pointer;
                font-size: 2rem;

                svg {
                    color: #ffffff;
                }

                &:hover {
                    background-color: #53fbc099;
                }
            }
        }
    }
}